name: Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  release:
    name: Create release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.1
      - name: Create release
        uses: softprops/action-gh-release@v2.5.0
        with:
          name: ${{ github.ref_name }}
          generate_release_notes: true
          make_latest: true